:root {
  --font-family-light: "VTB Group Light", sans-serif;
  --font-family-cond-book: "VTB Group Cond Book", sans-serif;
  --font-family-demi: "VTB Group Demi Bold", sans-serif;
  --font-family-cond-bold: "VTB Group Cond Bold", sans-serif;
  --font-family-extra-bold: "VTB Group Extra Bold", sans-serif;
}
