:root {
  --dark-blue: #002882;
  --main-blue: #33539B;
  --cian: #0AF;
  --background-color: #fff;
  --button-hovered: #F3F5FB;
  --navbar-height: 64px;
  --font-family-light: "VTB Group Light", sans-serif;
  --font-family-cond-book: "VTB Group Cond Book", sans-serif;
  --font-family-demi: "VTB Group Demi Bold", sans-serif;
  --font-family-cond-bold: "VTB Group Cond Bold", sans-serif;
  --font-family-extra-bold: "VTB Group Extra Bold", sans-serif;
}
