.root {
  border: none;
  border-radius: 13px;
  cursor: pointer;
  padding: 12px 18px;
  transition: all 0.3s;
}

.root_icon {
  padding: 5px 15px;
}

.root_primary {
  background: var(--cian);
  color: var(--background-color);

  &:disabled {
    pointer-events: none;
    background: var(--gray-text);
  }

  @media (any-hover: hover) {
    &:hover {
      &:not(:disabled) {
        background: var(--cian-hovered);

        .icon_primary {
          fill: var(--main-blue);
        }
      }
    }
  }

  &:active {
    &:not(:disabled) {
      background: var(--main-blue);
    }
  }
}

.root_secondary {
  background: var(--chips-color);
  color: var(--cian);

  &:disabled {
    pointer-events: none;
    background: var(--gray-dark);
    color: #FFF;
  }

  @media (any-hover: hover) {
    &:hover {
      &:not(:disabled) {
        background: var(--button-hovered);
      }
    }
  }

  &:active {
    &:not(:disabled) {
      background: var(--button-hovered);
    }
  }
}


.root_withBorder {
  border-radius: 13px;
  border: 1px solid var(--cian);
  background: var(--background-color);

  @media (any-hover: hover) {
    &:hover {
      &:not(:disabled) {
        background: var(--button-hovered);
      }
    }
  }

  &:active {
    &:not(:disabled) {
      background: var(--button-hovered);
    }
  }
}

.root_toggleButton {
  border-radius: 60px;
  background: var(--cian);
  color: #FFF;

  @media (any-hover: hover) {
    &:hover {
      &:not(:disabled) {
        background: var(--cian-hovered);
      }
    }
  }

  &:active {
    &:not(:disabled) {
      background: var(--cian-hovered);
    }
  }
}

.root_outline {
  border-radius: 60px;
  background: var(--cian);
  color: #FFF;
}

.active {
  background: var(--background-color);
  color: var(--cian);

  @media (any-hover: hover) {
    &:hover {
      &:not(:disabled) {
        background:  var(--background-color);
      }
    }
  }

  &:active {
    &:not(:disabled) {
      background: var(--background-color);
    }
  }
}

