.content {
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
}

.leftSidebar {
  position: absolute;
  z-index: 10;
  border-radius: 24px;
  margin: 16px;
  background: var(--background-color);
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height) - 32px);
}

.rightSidebar {
  right: 0;
  position: absolute;
  z-index: 10;
  border-radius: 24px;
  padding: 8px;
  margin: 16px;
  background: var(--background-color);
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height) - 32px);
}


.rightDownButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 24px;
  margin-bottom: 24px;
}

.toggleTypeService {
  display: grid;
  justify-content: center;
  width: 100vw;
  top: calc(var(--navbar-height) + 20px);
  position: absolute;
}
